*{
    margin: 0;
    padding: 0;
}
header{
    overflow: hidden;
}

h1{
    color: azure;
    text-align: center;
    padding-top: 30px;
}
.logo{
    background-color: rgb(38, 156, 64);
    height: 100px;
    width: 20%;
    float: left;
}
.banner{
    background-color: rgb(16, 168, 168);
    height: 100px;
    width: 80%;
    float: left;
}
nav{
    background-color: rgb(97, 161, 32);
    height: 100px;
}
.slider{
    background-color: rgb(78, 102, 211);
    height: 60px;
}

.blocks{
    overflow: hidden;
}
.left{
    background-color: rgb(197, 34, 170);
    height: 600px;
    width: 20%;
    float: left;
}
.center{
    background-color: rgb(45, 148, 231);
    height: 600px;
    width: 60%;
    float: left;
}
.right{
    background-color: rgb(34, 197, 135);
    height: 600px;
    width: 20%;
    float: left;
}
.top{
    background-color: rgb(35, 73, 104);
    height: 100px;
}
.middle{
    background-color: rgb(161, 32, 118);
    height: 400px;
    overflow: hidden;
}
.bottom{
    background-color: rgb(56, 32, 161);
    height: 100px;
}
.middle-left{
    background-color: rgb(30, 131, 52);
    height: 100%;
    width: 50%;
    float: left;
}
.middle-right{
    background-color: rgb(166, 231, 45);
    height: 100%;
    width: 50%;
    float: left;
}
.slider2{
    background-color: rgb(211, 78, 96);
    height: 60px;
}
footer{
    background-color: rgb(191, 211, 78);
    height: 100px;
}