*{
    margin: 0;
    padding: 0;
}
header{
    background-color: yellowgreen;
    height: 100px;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 30px;
}
nav{
    background-color: teal;
    height: 100px;
    color: white;
    text-align: center;
}
nav h1{
    padding-top: 30px;
}

.article{
    background-color: tomato;
    overflow: hidden;
}
.left{
    width: 70%;
    background-color: violet;
    float: left;
    height: 400px;
}
.top{
    background-color: sandybrown;
    height: 30%;
    color: white;
    text-align: center;
}
.top h1{
    padding-top: 40px;
}
.middle{
    background-color: blueviolet;
    height: 20%;
    color: white;
    text-align: center;
}
.middle h1{
    padding-top: 20px;
}
.bottom{
    background-color: green;
    height: 50%;
    color: white;
    text-align: center;
}
.bottom h1{
    padding-top: 80px;
}
.right{
    width: 30%;
    background-color: darkblue;
    float: right;
    height: 400px;
}
.top-right{
    background-color: aquamarine;
    height: 50%;
    color: white;
    text-align: center;
}
.top-right h1{
    padding-top: 80px;
}
.bottom-right{
    background-color: hotpink;
    height: 50%;
    color: white;
    text-align: center;
}
.bottom-right h1{
    padding-top: 80px;
}

footer{
    background-color: slateblue;
    height: 100px;
    color: white;
    text-align: center;
}
footer h1{
    padding-top: 30px;
}